* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  min-width: 80vw;
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 2rem;
  /* grid-template-rows: repeat(3, 1fr); */
}

.container_cards {
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;

  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "one"
    "two"
    "three";
}

.item {
  /* border: solid; */
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 3rem 0rem rgba(0, 0, 0, 0.1);
  max-width: 50ch;
  max-height: 100rem;

  transition: transform 500ms ease;
}

.item:hover,
.item:focus-within {
  transform: scale(1.05);
}

.item:nth-child(1) {
  text-align: center;
  grid-area: one;
}

.item:nth-child(2) {
  text-align: center;
  grid-area: two;
}

.item:nth-child(3) {
  text-align: center;
  grid-area: three;
}

@media (min-width: 500px) {
  .container_cards {
    grid-template-areas: "one two three";
  }
}

header {
  height: 80px;
}

header h1 {
  float: left;
  width: 100%;
  height: 80px;
}

/* ----------------------- */
/* 툴팁 긁어온 것! (해석 필요 X) */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* 툴팁 긁어온 것! (해석 필요 X) */
/* ----------------------- */
