@font-face {
	font-family: "SBAggroL";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff")
	  format("woff");
	font-weight: normal;
	font-style: normal;
  }
*{
	font-family: "SBAggroL";
}

header {
	margin-top:5%;
	margin-left:25%;
	width:80;
	display: grid;
	height: 100%;
}

.logo{
    padding:2%;
	margin:0 auto;
	font-size:20px;
	font-weight:bold;	
}

.row{
	display:flex;
	flex-wrap:wrap;
}
body{
	margin:0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #191919;
    text-align: left;
}

#full_cover{
	width:100%;
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
	display:flex;
}

#inner{
	display:flex;
	flex-direction: column;
	flex:1 1 auto;
}

.cards{
	margin-top:5rem;
	width: 100%;
	height:100%;
	align-items: center;
	justify-content: center;

}

.man{
	background-color: #7fffd4;
	display:flex;
	border-radius: 20px;
	width:60%;
	margin-left:20%;
	transition: background-color 0.7s;
}

.man:hover{
	background-color: rgba(127, 255, 212, 0.448);
}

.man img{
	width:70%;
	height: 50%;
}
.man p{
	margin:auto 0;
	width:100%;
	color:#191919;
	font-size: 30px;
}

.woman{
	margin-top:1rem;
	background-color: rgb(104, 172, 250);
	border-radius: 20px;
	width:60%;
	margin-left:20%;
	transition:background-color 0.7s;
	display: flex;
}
.woman p{
	margin:auto 0;
	width:100%;
	color:#191919;
	font-size: 30px;
}


.woman:hover{
	background-color:rgba(104, 172, 250, 0.448) ;
}
.woman img{
	width:70%;
	height:50%;
	
}
.question{
	width:100%;
	height:100%;
	display: flex;
	text-align:center;
}
.question{
	margin-top: 2rem;
	display: flex;
}

.gender{
	margin:0 auto;
	color:white;
}